:root{
    --primary-color: #291029;
} 
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* NAVBAR */
header{
    position: sticky;
    top: 0;
    background-color: #fff;
    box-shadow: 0 5px 8px -9px rgba(0, 0, 0, 0.7);
    z-index: 1;
}
a{
    text-decoration: none;
    color: var(--primary-color);
}
li{
    list-style: none;
}
.logo{
    font-size: 24px;
    font-weight: 600;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.end-nav{
    display: flex;
    align-items: center;
}
.select-lang{
    display: flex;
    padding: 10px;
}
.drop-down{
    background: none;
    border: none;
    outline: none;
}
.btn{
    padding: 10px;
}
.signup-btn{
    padding: 5px;
    border: 1px solid var(--primary-color);
    border-radius: 3px;
    background-color: var(--primary-color);
    color: #fff;
    font-weight: 400;
}
.signin-btn{
    padding: 5px;
    border: 1px solid var(--primary-color);
    border-radius: 3px;
    background-color: #fff;
    color: #291029;
    font-weight: 400;
}

/* MAIN BODY */

.main-section{
    width: 90%;
    margin: auto;
}

/* BANNER */
.banner{
    height: 550px;
    margin-top: 20px;
    padding-left: 100px;
    background-color: #744775;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 48px 48px 300px 48px;
}
.banner .img-section img{
    width: 399px;
    height:369px;
}
.banner .text-section h2{
    color: #fff;
    font-weight: 600;
    font-size: 34px;
}
.banner .text-section p{
    color: #fff;
    font-weight: 300;
    font-size: 20px;
}
.banner-btns button, .bottom-banners .get-started{
    height: 50px;
    width: 168px;
    margin-right: 20px;
    border-radius: 7px;
    border: 2px solid #D099D1;
    background-color: #D099D1;
    color: #fff;
    cursor: pointer;
    font-weight: 800;
}
.banner-btns .discount{
    border: 2px solid #D099D1;
    background-color: #744775;
}

/* CARDS SECTION */

.cards-section{
    height: 510px;
    margin: 70px 0 0 12px;
    display: flex;
}
.cards-section .texts{
    width: 337px;
    height: 290px;
}
.cards-section .texts h2{
    font-weight: 600;
    font-size: 45px;
    line-height: 59px;
}
.cards-section .texts p{
    line-height: 19px;
}
.cards{
    display: flex;
}
.card{
    height: 350px;
    width: 250px;
    border-radius: 40px;
    margin-left: 30px;
    box-shadow: 0px 4px 50px rgba(116, 71, 117, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.card .img-section img{
    height: 155px;
    width: 275px;
}

/* BOTTOM BANNERS */

.bottom-banners {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 338px;
}
.bottom-banners .img-section img{
  height: 354px;
  width: 387px;
}
.bottom-banners .text-section{
    width: 739px;
}
.bottom-banners .text-section h2{
    font-weight: 600;
    font-size: 50px;
    line-height: 59px;
}
.text-section span{
    color: #D099D1;
}

/* CONTACT SECTION */
.contact{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: var(--primary-color);
}
.contact h2{
    text-align: center;
}
.form-item input[type="text"],
.form-item input[type="email"],
.form-item textarea {
  width: 100%;
  margin-top: 10px;
  padding: 1rem 0.8rem;
  border: 1px solid var(--primary-color);
  outline: 0;
  border-radius: 5px;
  transition: border 0.15s;
}
.form-item textarea {
  display: block;

  resize: vertical;
}
.submit-btn {
    height: 50px;
    width: 100%;
    margin-top: 20px;
    border-radius: 7px;
    border: 2px solid var(--primary-color);
    background-color: var(--primary-color);
    color: #fff;
    cursor: pointer;
    font-weight: 800;
}
.contact label > sup{
    color: red;
}
.contact-section .img-section img{
    width: 399px;
    height:369px;
}

/* FOOTER SECTION */
.socials{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.copy-right-message{
    text-align: center;
    line-height: 1.7;
    color: gray;
    font-weight: 300;
    font-size: 1rem;
}
.socials .logo{
    padding: 20px;
}

/* SUDO css */
.signup-btn:hover{
    background-color: #fff;
    color: var(--primary-color);
    transition: ease-in .3s;
    cursor: pointer;
}
.signin-btn:hover{
    background-color: var(--primary-color);
    color: #fff;
    transition: ease-in .3s;
    cursor: pointer;
}
.banner-btns .get-started:hover{
    background-color: #744775;
    transition: ease-in .3s;
    cursor: pointer;
}
.banner-btns .discount:hover{
    background-color: #D099D1;
    color: var(--primary-color);
    transition: ease-in .3s;
    cursor: pointer;
}
.card:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    cursor: pointer;
    transition: ease-in .3s;
    top: -4px;
}
.bottom-banners .get-started:hover{
    background-color: #744775;
    border: 1px solid #744775;
    transition: ease-in .3s;
    cursor: pointer;
}
.submit-btn:hover{
    background-color: #fff;
    color: var(--primary-color);
    transition: ease-in .3s;
    cursor: pointer
}

/* MEDIA QUERIES */